<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
</head>
<body>
    <h1>Погода в {{ city }}</h1>
    <p>Текущее время: {{ current_time }}</p>
    <p>Температура: {{ weather_data.current.temperature_2m }}°C</p>
    <p>Влажность: {{ weather_data.current.relative_humidity_2m }}%</p>
    <p>Ощущается как: {{ weather_data.current.apparent_temperature }}°C</p>
    <p>Осадки: {{ weather_data.current.precipitation }}mm</p>
    <p>Скорость ветра: {{ weather_data.current.wind_speed_10m }}m/s</p>
</body>
</html>